html {
	height:100%;
	width:100%;
}
body {
	background-image:url('bg1.jpg');
	background-repeat: no-repeat;
	background-size:cover;
<<<<<<< HEAD
	background-attachment:fixed;
=======
	background-attachment: fixed;
>>>>>>> origin/gh-pages
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
.topbar {
	width:100%;
	height:39px;
	background-color:#4AA5FF;
	text-align:right;
	text-decoration:none;
	border-bottom:5px solid white;
	opacity:.8;
	transition: opacity .4s;
	z-index:10;
}
.topbar:hover {
	opacity:1;
}
.links a {
	text-decoration:none;
	font-size:200%;
	color:white;
	font-family:impact;
	margin-right:.1%;
	padding:5px;
}
a {transition: color .4s;}
a:hover {color:pink;}
ul.menu ul li a:hover {color:pink;}
ul.menu {clear:both; float:right;}
ul.menu, ul.menu ul{
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
}
ul.menu ul{
	display:none;
	float:right;
	transition:opacity .4s;
}
ul.menu li:hover > ul{
	display:block;
	background-color:#4AA5FF;
	border-radius:0px 0px 0px 10px;
	border:5px solid white;
	border-top:0px;
	border-right:0px;
	z-index:10;
}
ul.menu ul a:hover{
	color:white;
}
h1 {
	font-size:150%;
	font-family:Verdana;
}
.welcome {
	width:22%;
	height:80%;
	background-color:#4AA5FF;
	margin-left:12%;
	text-align:center;
	border:5px solid white;
	border-radius:60px;
	opacity:.6;
	filter: alpha(opacity=60);
	transition: opacity .4s;
	position:absolute;
	color:white;
	overflow:auto;
	margin-top:10px;
}
.welcome:hover {
	opacity:.9;
}
div.homecontent {
	width:100%;
	height:auto;
}
.scroller{
	margin-left:40%;
	height:80%;
	width:50%;
	overflow:auto;
	background-color:#4AA5FF;
	border:5px solid white;
	opacity:.6;
	filter: alpha(opacity=60);
	border-radius:60px;
	transition: opacity .4s;
	color:white;
	text-align:center;
	position:absolute;
	margin-top:10px;
}
.scroller:hover{
	opacity:.9;
}
.scroller-container{
	margin-right:auto;
	margin-left:auto;
	width:70%;
	height:auto;
}
#rize{
	float:right;
	border:5px solid white;
	border-radius:10px;
}
#rizetext{
	float:left;
	width:45%;
}
#rizetextp{margin-right:5px;}


@media print, screen and (max-width: 1000px) {
	.topbar {
		height:auto;
		clear:none;
	}
	ul.menu {
		text-align:center;
		float:none;
		padding:0;
		white-space:nowrap;
		position:static;
	}
	.links a {
		margin-right:0px;
		padding:1px;
	}
	#toplevel > a {
		padding-right:3px;
	}
	li {
		display:inline-block;
		clear:none;
	}
	ul.menu ul{
		float:none;
		display:inline-block;
		clear:none;
		position:static;
	}
	ul.menu li:hover > ul{	
		display:inline-block;
		background-color:transparent;
		border-radius:0px;
		border:0px;
		border-top:0px;
		border-right:0px;
		clear:none;
	}

	ul.menu, ul.menu ul{
		list-style:none;
		margin:0;
		padding:0;
		position:static;
	}
	.welcome {
		width:80%;
		height:auto;
		position:static;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:10px;
	}
	.scroller {
		width:80%;
		height:auto;
		position:static;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:10px;
	}

}

@media print, screen and (max-width: 720px) {
	.links a{
		font-size:175%;
	}
}

@media print, screen and (max-width: 480px) {
	.links a{
		font-size:150%;
	}
}

@media print, screen and (max-width: 320px) {
	.links a{
		font-size:125%;
	}
}